[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
coverage = "*"
funcsigs = "*"

[packages]
bottle = "==0.12.19"
gunicorn = ">=19.7.1"
psutil = ">=4.3.0"
requests = ">=2.18"
click = "*"
packaging = "*"
attrs = "*"
influxdb = "*"
raven = "*"
"contextlib2" = "*"
