alabaster
argh==0.26.2
Babel
backports-abc
backports.ssl-match-hostname
certifi
docutils==0.15.2
Jinja2==2.10.1
livereload
MarkupSafe==1.1.1
pathtools==0.1.2
Pygments
pytz
PyYAML==5.1
singledispatch==3.4.0.3
six
snowballstemmer==1.2.1
Sphinx<2
sphinx-autobuild
tornado<6
